
<md-card>
	<md-card-header>
		<md-card-title><h2>{{formTitle}}</h2></md-card-title>
		<md-card-subtitle>{{formSummary}}</md-card-subtitle>
	</md-card-header>

	<md-card-content>

		<form [formGroup]="recordForm" novalidate (ngSubmit)="save(recordForm)">
			
			<table><tr><td>

				<md-input-container>
					<input mdInput placeholder="Email Address" formControlName="email_address">
				</md-input-container>

				<div *ngIf="recordForm.controls.email_address.errors && recordForm.controls.email_address.errors.required" color="warn">
					Email Address is required
				</div>

				<div *ngIf="recordForm.controls.email_address.errors && recordForm.controls.email_address.errors.email" color="warn">
					Email Address format is not right
				</div>


				<hr /></td></tr><tr><td>

				<div formArrayName="passwords">
					<md-card *ngFor="let password of recordForm.controls.passwords.controls; let i=index; ">
						
						<md-card-header>
							<span>Password {{i + 1}}</span>
							<md-icon 
							*ngIf="recordForm.controls.passwords.controls.length > 1"
							(click)="removePassword(i)"
							>close</md-icon>
						</md-card-header>

						<md-card-content [formGroupName]="i">
							
							<md-input-container>
								<input mdInput placeholder="Pasword" formControlName="password">
							</md-input-container>

							<div *ngIf="recordForm.controls.passwords.controls[i].controls.password.errors && recordForm.controls.passwords.controls[i].controls.password.errors.required" color="warn">
								Password is required
							</div>							

							<div *ngIf="recordForm.controls.passwords.controls[i].controls.password.errors && recordForm.controls.passwords.controls[i].controls.password.errors.minlength" color="warn">
								At least 8 charecters are required
							</div>							

						</md-card-content>

					</md-card>
				</div>

				<button md-button (click)="addPassword()">Add Password</button>

				<hr /></td></tr><tr><td>

				<button md-button type="submit" [disabled]="!recordForm.valid">Save</button>

				<hr /></td></tr></table>

			</form>

		</md-card-content>

	</md-card>



	<div class="margin-20">
		<div>recordForm details:-</div>
		<pre>Is recordForm valid?: <br>{{recordForm.valid | json}}</pre>
		<pre>form value: <br>{{recordForm.value | json}}</pre>
	</div>