
<md-card>
	<md-card-header>
		<md-card-title>
			<h2>User Credentials</h2>
		</md-card-title>
		<md-card-subtitle>User credentials to login</md-card-subtitle>
	</md-card-header>

	<md-card-content>

		<form [formGroup]="recordForm" novalidate (ngSubmit)="save(recordForm)">

			  <table><tr><td>

			  	<md-input-container>
				  	<input mdInput placeholder="Email Address" formControlName="email_address">
				</md-input-container>
				<br />
				<small *ngIf="!recordForm.controls.email_address.valid" class="text-danger">
					email_address is required (minimum 5 characters).
				</small>
			  
			  </td></tr><tr><td>

			  	<div formArrayName="passwords">
					<div *ngFor="let address of recordForm.controls.passwords.controls; let i=index" class="panel panel-default">
						<div class="panel-heading">
							<span>Password {{i + 1}}</span>
							<span class="glyphicon glyphicon-remove pull-right" *ngIf="recordForm.controls.passwords.controls.length > 1" (click)="removePassword(i)"></span>
						</div>
						<div class="panel-body" [formGroupName]="i">
							<div class="form-group col-xs-6">
								<label>street</label>
								<input type="text" class="form-control" formControlName="street">
								<small [hidden]="recordForm.controls.passwords.controls[i].controls.street.valid" class="text-danger">
									Street is required
								</small>
							</div>
							<div class="form-group col-xs-6">
								<label>postcode</label>
								<input type="text" class="form-control" formControlName="postcode">
							</div>
						</div>
					</div>
				</div>
				<div class="margin-20">
					<a (click)="addPassword()" style="cursor: default">
						Add another address +
					</a>
				</div>
			  
			  </td></tr><tr><td>

			  	<div class="margin-20">
					<button type="submit" class="btn btn-primary pull-right" [disabled]="!recordForm.valid">Submit</button>
				</div>

			  </td></tr></table>

		</form>

	</md-card-content>

</md-card>



			<div class="margin-20">
				<div>recordForm details:-</div>
				<pre>Is recordForm valid?: <br>{{recordForm.valid | json}}</pre>
				<pre>form value: <br>{{recordForm.value | json}}</pre>
			</div>