<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Expires" content="0">
fieldValue = {{fieldValue | json}}
<label>{{ fieldProperties['_t'] }}&nbsp;
	<md-slide-toggle *ngIf="(fieldProperties['_y'] == 'boolean')" name="{{ fieldParentName }}-{{ fieldProperties['_n'] }}" [(ngModel)]="fieldValue" (ngModelChange)="changedNgModel($event)" id="{{ fieldProperties['_n'] }}">
	</md-slide-toggle>
	<md-input-container *ngIf="(fieldProperties['_y'] == 'number')">
		<input mdInput id="{{ fieldProperties['_n'] }}" type="number" name="{{ fieldParentName }}-{{ fieldProperties['_n'] }}" [(ngModel)]="fieldValue" (ngModelChange)="changedNgModel($event)" />
	</md-input-container>
	<md-input-container *ngIf="(fieldProperties['_y'] == 'string')" md-block>
		<input mdInput id="{{ fieldProperties['_n'] }}" type="text" name="{{ fieldParentName }}-{{ fieldProperties['_n'] }}" [(ngModel)]="fieldValue" (ngModelChange)="changedNgModel($event)" />
	</md-input-container>
	<md-input-container *ngIf="(fieldProperties['_y'] == 'email')">
		<input mdInput id="{{ fieldProperties['_n'] }}" type="email" name="{{ fieldParentName }}-{{ fieldProperties['_n'] }}" [(ngModel)]="fieldValue" (ngModelChange)="changedNgModel($event)" />
	</md-input-container>
	<md-input-container *ngIf="(fieldProperties['_y'] == 'password')">
		<input mdInput id="{{ fieldProperties['_n'] }}" type="password" name="{{ fieldParentName }}-{{ fieldProperties['_n'] }}" [(ngModel)]="fieldValue" (ngModelChange)="changedNgModel($event)" required />
	</md-input-container>
	<div *ngIf="(fieldProperties['_y'] == 'auto_foreign_key')">
		<md-input-container>
			<input mdInput id="{{ fieldProperties['_n'] }}" type="text" name="{{ fieldParentName }}-{{ fieldProperties['_n'] }}" [(ngModel)]="fieldValue" (ngModelChange)="changedNgModel($event)" [mdAutocomplete]="auto" />
		</md-input-container>
		<br />{{ getOptionListTitle(fieldValue) }}
		<md-autocomplete #auto="mdAutocomplete">
			<md-option *ngFor="let option of foreignKeyList" [value]="option.value">
				{{ option.title }}
			</md-option>
		</md-autocomplete>
	</div>
	<div *ngIf="(fieldProperties['_y'] == 'foreign_key')">
		<md-select mdInput id="{{ fieldProperties['_n'] }}" type="text" name="{{ fieldParentName }}-{{ fieldProperties['_n'] }}" [(ngModel)]="fieldValue" (ngModelChange)="changedNgModel($event)">
			<md-option *ngFor=" let option of foreignKeyList; " [value]="option.value">{{option.title}}</md-option>
		</md-select>
	</div>
	<div *ngIf="(fieldProperties['_y'] == 'static_list')">
		<md-select mdInput id="{{ fieldProperties['_n'] }}" type="text" name="{{ fieldParentName }}-{{ fieldProperties['_n'] }}" [(ngModel)]="fieldValue" (ngModelChange)="changedNgModel($event)">
			<md-option *ngFor=" let key of keysOfObject( lists[ fieldProperties['_l'] ] )" [value]="key">{{lists[fieldProperties['_l']][key]}}</md-option>
		</md-select>
	</div>	
</label>
