


<div *ngIf="!isObjectEmpty(fieldGroupValue)">

	<div *ngFor="let key of keysOfObject(fieldGroupValue);">
	<div *ngIf="keysOfFieldProperties.indexOf(key) === -1">
		
		<br />

		<fieldset *ngIf="!fieldGroupValue[key]['_f']">

			<legend>{{fieldGroupValue[key]['_t']}}</legend>

			<div *ngIf="fieldGroupValue[key]['_m'] > 0">

				<div class="lns_sub_fields_border" >

					<button md-button-raised color="warn" (click)="removeValue(key)">Remove {{key}}</button>

					<app-db-group-field	
					[fieldGroupValue]="fieldGroupValue[key]"
					(emitingFieldGroupValue)="updateFieldGroupValue(key, $event, 3)"
					></app-db-group-field>

				</div>

			</div>

			<div *ngIf="fieldGroupValue[key]['_m'] == 0">

				<app-db-group-field	
				[fieldGroupValue]="fieldGroupValue[key]"
				(emitingFieldGroupValue)="updateFieldGroupValue(key, $event, 4)"
				></app-db-group-field>

			</div>

		</fieldset>


		<div *ngIf="fieldGroupValue[key]['_f']">


			<div *ngIf="fieldGroupValue[key]['_m'] > 0">

				<div class="lns_sub_fields_border" >

					<button md-button-raised color="warn" (click)="removeValue(key)">Remove {{key}}</button>

					<app-db-field
					[fieldValue]="fieldGroupValue[key]['_v']"
					[fieldProperties]="applyFieldValue(fieldGroupValue, key)"
					(emitingFieldValue)="updateFieldValue(key, $event, 1)"
					></app-db-field>

				</div>

			</div>

			<div *ngIf="fieldGroupValue[key]['_m'] == 0">

				<app-db-field
				[fieldValue]="fieldGroupValue[key]['_v']"
				[fieldProperties]="applyFieldValue(fieldGroupValue, key)" 
				(emitingFieldValue)="updateFieldValue(key, $event, 2)"
				></app-db-field>

			</div>

		</div>

	</div>
	</div>

</div>


<div *ngIf="isObjectEmpty(fieldGroupValue)">
	<button md-button (click)="addNewField(1)">Add First Field</button>
</div>
<div *ngIf="!isObjectEmpty(fieldGroupValue)">
	<button md-button (click)="addNewField(0)">Add Next Field</button>
</div>				