<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Expires" content="0">

<div *ngFor="let fieldStructure of sortedFieldsOfRecord(fieldGroupStructure)" class="lns_sub_fields_border">

		<!-- fieldStructure = {{ fieldStructure | json}} -->
		<button 
			md-mini-fab
			*ngIf="tableNumber == tableOfTables"
			(click)="removeValue(fieldStructure['_n'])"
			title="Remove"
			>
			<md-icon>close</md-icon> 
		</button>

		<button 
			md-mini-fab
			*ngIf="(tableNumber == tableOfTables)"
			(click)="showProperty=!showProperty"
			title="Properties"
			>
			<md-icon>menu</md-icon> 
		</button>

		<fieldset *ngIf="!fieldStructure['_f']"><!-- field_type is field_group -->

			<legend>{{fieldStructure['_t']}}</legend>

			<div *ngIf="fieldStructure['_m'] != undefined && fieldStructure['_m'] > 0">

				<!-- there are multiple values of the group -->

				<div *ngFor=" let value of valuesOfList(applyFieldValue(fieldGroupValues, fieldStructure['_n'])); let gi = index; ">
				
					value = {{value | json}}

					<app-db-group-field	
					*ngIf="!isVariableEmpty(value)"
					[tableNumber]="tableNumber"
					[fieldGroupValues]="applyFieldValue(fieldGroupValues, fieldStructure['_n'])"
					[fieldGroupStructure]="applyFieldValue(fieldGroupStructure, fieldStructure['_n'])"
					(groupFieldValueIsUpdated)="updateFieldGroupValue(fieldStructure, $event, gi, 'GFC1')"
					(groupFieldStructureIsUpdated)="updateFieldGroupStructure(fieldStructure['_n'], $event, 'GFC2')"
					></app-db-group-field>

				</div>

				<button 
					*ngIf="(tableNumber == tableOfTables)"
					md-button 
					(click)="addNewField(fieldStructure['_n'], fieldGroupValues, fieldGroupStructure)"
					>
					Add N Field
				</button>

				<button 
					*ngIf="(tableNumber != tableOfTables)"
					md-button 
					(click)="addSameField(fieldStructure['_n'], fieldGroupValues, fieldGroupStructure)"
					>
					Add S {{fieldStructure['_t']}}
				</button>

			</div>

			<div *ngIf="fieldStructure['_m'] == undefined || fieldStructure['_m'] == 0">

				<!-- value = {{applyFieldValue(fieldGroupValues, fieldStructure['_n']) | json}} -->

				<app-db-group-field	
				[tableNumber]="tableNumber"
				[fieldGroupValues]="applyFieldValue(fieldGroupValues, fieldStructure['_n'])"
				[fieldGroupStructure]="applyFieldValue(fieldGroupStructure, fieldStructure['_n'])"
				(groupFieldValueIsUpdated)="updateFieldGroupValue(fieldStructure, $event, -1, 'GFC3')"
				(groupFieldStructureIsUpdated)="updateFieldGroupStructure(fieldStructure['_n'], $event, 'GFC4')"
				></app-db-group-field>

			</div>

		</fieldset> <!-- field_type is field_group -->

		<div *ngIf="fieldStructure['_f']"> <!-- field_type is field -->
			<div *ngIf="fieldStructure['_m'] != undefined && fieldStructure['_m'] > 0">
				<div *ngFor="let value of valuesOfList(applyFieldValue(fieldGroupValues, fieldStructure['_n'])); let fi = index; ">

					value = {{value | json}} 

					<app-db-field 
						*ngIf="!isVariableEmpty(value)" 
						[fieldValue]="applyFieldValue(fieldGroupValues, fieldStructure['_n'])"
						[fieldProperties]="applyFieldValue(fieldGroupStructure, fieldStructure['_n'])"
						(fieldIsUpdated)="updateFieldValue(fieldStructure['_n'], $event, fi, 'GHC5')"
						(fieldPropertiesIsUpdated)="updateFieldProperties(fieldStructure['_n'], $event, 'GFC6')"
						[foreignKeyCollectionName]="fieldStructure['_o']"
						[foreignKeyTitleFields]="fieldStructure['_i']"
					></app-db-field>
				</div>
				<button *ngIf="(tableNumber == tableOfTables)" md-button (click)="addNewField(fieldStructure['_n'], fieldGroupValues, fieldGroupStructure)">
					Add N Field
				</button>
				<button *ngIf="(tableNumber != tableOfTables)" md-button (click)="addSameField(fieldStructure['_n'], fieldGroupValues, fieldGroupStructure)">
					Add S {{fieldStructure['_t']}}
				</button>
			</div>
			<div *ngIf="fieldStructure['_m'] == undefined || fieldStructure['_m'] == 0">
				value = {{applyFieldValue(fieldGroupValues, fieldStructure['_n']) | json}}

				<app-db-field 
					[fieldValue]="applyFieldValue(fieldGroupValues, fieldStructure['_n'])"
					[fieldProperties]="applyFieldValue(fieldGroupStructure, fieldStructure['_n'])"
					(fieldIsUpdated)="updateFieldValue(fieldStructure['_n'], $event, -1, 'GFC7')" (fieldPropertiesIsUpdated)="updateFieldProperties(fieldStructure['_n'], $event, 'GFC8')" [foreignKeyCollectionName]="fieldStructure['_o']" [foreignKeyTitleFields]="fieldStructure['_i']"></app-db-field>
			</div>
		</div> <!-- field_type is field -->

		<app-db-field-property *ngIf="showProperty" [fieldProperties]="applyFieldValue(fieldGroupStructure, fieldStructure['_n'])" (fieldPropertiesIsUpdated)="updateFieldProperties(fieldStructure['_n'], $event, 'GFC9')"></app-db-field-property>

</div>
