
<div *ngFor="let field of keysOfObject(fieldGroupProperties);">

	<div *ngIf="isVariableObject(fieldGroupProperties[field])"><br /></div>
	
	<fieldset *ngIf="isVariableObject(fieldGroupProperties[field]) && !fieldGroupProperties[field]['f'] ">
		<legend>{{fieldGroupProperties[field]['t']}}</legend>

			<div *ngIf="fieldGroupProperties[field]['m'] > 0">

				<div class="lns_sub_fields_border" >
			
					<button md-button-raised class="warning" (click)="removeValue(valueKey)">Remove {{valueKey}}</button>

					<app-db-group-field	
						[fieldGroupProperties]="fieldGroupProperties[field]"
						[fieldGroupValue]="fieldGroupValue[field]"
						(emitingFieldGroupValue)="updateFieldGroupValue(field, $event, 3)"
					></app-db-group-field>

				</div>
				
				<button md-button (click)="addValue()">Add {{fieldGroupPropertiesTitle}} </button>

			</div>

			<div *ngIf="fieldGroupProperties[field]['m'] == 0">
				<app-db-group-field	
					[fieldGroupProperties]="fieldGroupProperties[field]"
					[fieldGroupValue]="fieldGroupValue[field]"
					(emitingFieldGroupValue)="updateFieldGroupValue(field, $event, 4)"
				></app-db-group-field>
			</div>
	</fieldset>
	
	<div *ngIf="isVariableObject(fieldGroupProperties[field]) && fieldGroupProperties[field]['f']">

		
		<div *ngIf="fieldGroupProperties[field]['m'] > 0">

			<div class="lns_sub_fields_border" >
		
				<button md-button-raised class="warning" (click)="removeValue(valueKey)">Remove {{valueKey}}</button>

				<app-db-field
					[fieldValue]="fieldGroupValue[field]"
					[fieldProperties]="fieldGroupProperties[field]"
					(emitingFieldValue)="updateFieldValue(field, $event, 1)"
				></app-db-field>

			</div>

			<button md-button (click)="addValue()">Add {{fieldGroupPropertiesTitle}} </button>

		</div>

		<div *ngIf="fieldGroupProperties[field]['m'] == 0">
			
			<app-db-field
				[fieldValue]="fieldGroupValue[field]"
				[fieldProperties]="fieldGroupProperties[field]" 
				(emitingFieldValue)="updateFieldValue(field, $event, 2)"
			></app-db-field>

		</div>
	</div>

</div>