
{{ logIt(['GroupFieldComponent: fieldGroupProperties = ', fieldGroupProperties]) }}
{{ logIt(['GroupFieldComponent: fieldGroupValue = ', fieldGroupValue]) }}

<div *ngFor="let field of keysOfObject(fieldGroupProperties);">
	
	<br />
	
	<fieldset *ngIf="!fieldGroupProperties[field]['f']">

		<legend>{{fieldGroupProperties[field]['t']}}</legend>

			<div *ngIf="fieldGroupProperties[field]['m'] != undefined && fieldGroupProperties[field]['m'] > 0">

				<div *ngIf="fieldGroupValue[field] != undefined">
					
					<div class="lns_sub_fields_border" *ngFor="let value of keysOfObject(fieldGroupValue[field]); let gi = index;">
				
						<button md-button-raised color="warn" (click)="removeValue(field)">Remove {{field}} {{gi}}</button>

						<app-db-group-field	
							[fieldGroupProperties]="fieldGroupProperties[field]"
							[fieldGroupValue]="applyFieldValue(value, field)"
							(emitingFieldGroupValue)="updateFieldGroupValue(field, $event, 3)"
						></app-db-group-field>

					</div>

				</div>

				<div class="lns_sub_fields_border" >
			
					<button md-button-raised color="warn" (click)="removeValue(field)">Remove {{field}}</button>

					<app-db-group-field	
						[fieldGroupProperties]="fieldGroupProperties[field]"
						[fieldGroupValue]="applyFieldValue(fieldGroupValue, field)"
						(emitingFieldGroupValue)="updateFieldGroupValue(field, $event, 3)"
					></app-db-group-field>

				</div>
				
				<button md-button (click)="addValue(field)">Add {{field}} </button>

			</div>

			<div *ngIf="fieldGroupProperties[field]['m'] == undefined || fieldGroupProperties[field]['m'] == 0">

				<app-db-group-field	
					[fieldGroupProperties]="fieldGroupProperties[field]"
					[fieldGroupValue]="applyFieldValue(fieldGroupValue, field)"
					(emitingFieldGroupValue)="updateFieldGroupValue(field, $event, 4)"
				></app-db-group-field>

			</div>
	</fieldset>
	

	<div *ngIf="fieldGroupProperties[field]['f']">

		
		<div *ngIf="fieldGroupProperties[field]['m'] != undefined && fieldGroupProperties[field]['m'] > 0">

			<div class="lns_sub_fields_border" *ngFor="let value of fieldGroupValue[field];">
		
				<button md-button-raised class="warning" (click)="removeValue(field)">Remove {{field}}</button>

				<app-db-field
					[fieldValue]="value"
					[fieldProperties]="applyFieldValue(fieldGroupProperties, field)"
					(emitingFieldValue)="updateFieldValue(field, $event, 1)"
				></app-db-field>

			</div>


			<div class="lns_sub_fields_border" >
		
				<button md-button-raised class="warning" (click)="removeValue(field)">Remove {{field}}</button>

				<app-db-field
					[fieldValue]="fieldGroupValue[field]"
					[fieldProperties]="applyFieldValue(fieldGroupProperties, field)"
					(emitingFieldValue)="updateFieldValue(field, $event, 1)"
				></app-db-field>

			</div>

			<button md-button (click)="addValue(field)">Add {{field}} </button>

		</div>

		<div *ngIf="fieldGroupProperties[field] == undefined || fieldGroupProperties[field]['m'] == 0">
			
			<app-db-field
				[fieldValue]="fieldGroupValue[field]"
				[fieldProperties]="applyFieldValue(fieldGroupProperties, field)" 
				(emitingFieldValue)="updateFieldValue(field, $event, 2)"
			></app-db-field>

		</div>

	</div>

</div>