<form [formGroup]="activityForm"  (ngSubmit)="onSubmit()" [hidden]="submitted">
  <ul data-role="listview">
    <li>
      <h2>Adding New Activity</h2>
    </li>

    <li>
	    <label for="activityAddFormObsoleteId">Status:</label>
		<select id="activityAddactivityObsoleteId" formControlName="obsolete" data-role="slider" required>
		    <option value="true">Old</option>
		    <option value="false" selected=selected>Active</option>
		</select>
    </li>

    <li *ngFor="let key of activity.getKeysForForm()">
		<label for="activityAddFormNumberId">
			{{activity.getTitle(key)}}: 
			<input type="text" id="activityAddFormNumberId" formControlName="{{key}}">
		</label>
    </li>
    <li>
    	<button type="submit" class="btn btn-success">Submit</button>
    </li>
  </ul>
</form>