<section>
  <header>
      <label for="activityListSearchId">Search</label>
	    <input 
	       id="activityListSearchId"
	       placeholder="name, number or detail pattern"
	       [(ngModel)]="searchPattern"
	       (ngModelChange) = "searchActivities()"
	    />
  </header>
  <section>
  	<div class="lns_loading" *ngIf="!(activities | async)">Loading activities list...</div>
    <ol>
      <li *ngFor="let activity of activities | async" [class.disabled]="activity.obsolete">
          {{activity.a2}}.
          <a [routerLink]="['/activity', activity.$key]">{{activity.a3}}</a>
           : {{activity.a4}}
      </li>
    </ol>
  </section>
  <footer>
    <span>
      <strong>{{(activities|async)?.length}}</strong>
      {{(activities|async)?.length <= 1?'activity':'activities'}}
      | <a [routerLink]="['/activity/new']">Add New Activity</a>
      | <a [routerLink]="['/steps']">Steps</a>
    </span>
  </footer>
</section>



<div class="lns_loading" *ngIf="!(activities | async)">Loading activities detail...</div>


<md-card *ngIf="(activities | async)">
	<md-card-header>
		<md-card-title><h2>{{(docOfCocs|async)?.a3}}</h2></md-card-title>
		<md-card-subtitle>{{(docOfCocs|async)?.a4}}</md-card-subtitle>
	</md-card-header>

	<md-card-content>
	
		<md-input-container>
			<input 
				mdInput 
				id="collectionListSearchId" 
				placeholder="Search Tables" 
				[(ngModel)]="searchPattern"
				(ngModelChange) = "searchCollections()"
			/>
		</md-input-container>

		<table>
			<tr
				*ngFor=" let d of activities | async; " 
				[class.disabled]="!d.a1"
			><td>
				{{d.a2}}.
				<a [routerLink]="['/cocs/show', d.$key]" [class.disabled]="!d.a1">{{d.a3}} Collection</a>
				: {{d.a4}}
			</td></tr>
		</table>

	</md-card-content>

	<md-card-actions>
		Total <strong>{{(activities|async)?.length}}</strong>
		{{(activities|async)?.length <= 1?'table':'tables'}} in list
	</md-card-actions>

</md-card>
