<div *ngIf="!(forms | async)">loading...</div>
<section>
  <header>
      <label for="formListSearchId">Search</label>
	    <input 
	       id="formListSearchId"
	       size=40
	       placeholder="name, number or detail pattern"
	       [(ngModel)]="searchPattern"
	       (ngModelChange) = "searchForms()"
	    />
  </header>
  <section>
    <ul>
      <li *ngFor="let form of forms | async" [class.disabled]="form.obsolete">
          {{form.form_number}}.
          <a [routerLink]="['/form', form.$key]">{{form.name}}</a>
           : {{form.detail}}
      </li>
    </ul>
  </section>
  <footer>
    <span>
      <strong>{{(forms|async)?.length}}</strong>
      {{(forms|async)?.length <= 1?'form':'forms'}} to fill
      | <a [routerLink]="['/form/new']">Add New Form</a>
    </span>
  </footer>
</section>