<div data-role="page">

<div data-role="panel" id="appPanelId">
  <a [routerLink]="['/']" class="ui-btn ui-shadow ui-corner-all ui-icon-home ui-btn-icon-left">Home</a>
  <a [routerLink]="['/web-page/about']" class="ui-btn ui-shadow ui-corner-all ui-icon-info ui-btn-icon-left">About</a>
  <a [routerLink]="['/activities']" class="ui-btn ui-shadow ui-corner-all ui-icon-grid ui-btn-icon-left">Activities</a>
  <a [routerLink]="['/cocs/list']" class="ui-btn ui-shadow ui-corner-all ui-icon-grid ui-btn-icon-left">Collections</a>
</div><!-- /panel -->

<div data-role="header">
<div data-role="navbar" data-grid="b">
  <ul>
    <li><a class="ui-btn ui-shadow ui-corner-all ui-btn-inline ui-btn-mini" href="#appPanelId">Menu</a></li>
    <li class="lns_center_it">Demo</li>
    <li>
      <button *ngIf="(user | json) == '{}'" (click)="login()" class="ui-btn ui-shadow ui-corner-all ui-icon-user ui-btn-icon-left">Login</button>
      <button *ngIf="(user | json) != '{}'" (click)="logout()" class="ui-btn ui-shadow ui-corner-all ui-icon-power ui-btn-icon-left">Logout</button>
    </li>
  </ul>
</div><!-- /navbar -->
</div>

<div role="main" class="ui-content">
  <router-outlet></router-outlet>
</div>

<footer data-role="footer">Demo &copy; Copyright</footer>

</div><!-- page -->



