
<md-toolbar color="primary">
    <span>Demo</span>
    <button [routerLink]="['/']">Home</button>
    <button [routerLink]="['/web-page/about']">About</button>

    <span class="spacer"></span>

    <button md-icon-button [mdMenuTriggerFor]="menu">
      <md-icon>more_vert</md-icon>
    </button>
    
    <md-menu #menu="mdMenu">
      <button md-menu-item *ngIf="(user | json) == '{}'" (click)="login()">
        <md-icon>fingerprint</md-icon>
        <span>Login</span>
      </button>
      
      <button md-menu-item *ngIf="(user | json) != '{}'" (click)="logout()">
        <md-icon>fingerprint</md-icon>
        <span>Logout</span>
      </button>

      <button md-menu-item [routerLink]="['/cocs/list']">
        <md-icon>announcement</md-icon>
        <span>Database</span>
      </button>
      <button md-menu-item [routerLink]="['/activities']">
        <md-icon>notifications_off</md-icon>
        <span>Activities</span>
      </button>
    </md-menu>

</md-toolbar>


<router-outlet></router-outlet>

Demo &copy; Copyright