
<md-toolbar color="primary">
    <span>Demo</span>
    <button md-button [routerLink]="['/']">Home</button>
    <button md-button [routerLink]="[ '/web-page/about' ]">About</button>

    <span class="spacer"></span>

    {{ (user|async)?.email }}

    <button md-icon-button [mdMenuTriggerFor]="menu">
      <md-icon>more_vert</md-icon>
    </button>
    
    <md-menu #menu="mdMenu">
      <button md-menu-item *ngIf="!(user | async)" (click)="login()">
        <md-icon>fingerprint</md-icon>
        <span>Login</span>
      </button>
      
      <button md-menu-item *ngIf="(user | async)" (click)="logout()">
        <md-icon>exit_to_app</md-icon>
        <span>Logout</span>
      </button>

      <button md-menu-item [routerLink]="['/db/tsl']">
        <md-icon>info</md-icon>
        <span>Database</span>
      </button>

      <button md-menu-item [routerLink]="['/activities']">
        <md-icon>format_list_numbered</md-icon>
        <span>Activities</span>
      </button>
    </md-menu>

</md-toolbar>

<router-outlet></router-outlet>

<app-data-field></app-data-field>

<hr />
Demo &copy; Copyright