<form [formGroup]="stepForm"  (ngSubmit)="onSubmit()" [hidden]="submitted">
  <ul data-role="listview">
    <li>
      <h2>Adding New Step</h2>
    </li>

    <li>
      <label for="stepAddFormObsoleteId">Status:</label>
      <select id="stepAddstepObsoleteId" formControlName="obsolete" data-role="slider" required>
        <option value="true">Old</option>
        <option value="false" selected=selected>Active</option>
      </select>
    </li>

    <li *ngFor="let key of step.getKeysForForm()">
      <label for="stepAddFormNumberId">
        {{step.getTitle(key)}}: <input type="text" id="stepAddFormNumberId" formControlName="{{key}}">
      </label>
    </li>

    <li>
    	<button type="submit" class="ui-btn ui-shadow ui-btn-inline ui-corner-all ui-icon-action ui-btn-icon-left">Add</button>
    	<button [routerLink]="['/step']" class="ui-btn ui-shadow ui-btn-inline ui-corner-all ui-icon-arrow-l ui-btn-icon-left">Cancel</button>
    	<button type="reset" class="ui-btn ui-shadow ui-btn-inline ui-corner-all ui-icon-recycle ui-btn-icon-left">Reset</button>
    </li>

  </ul>
</form>
