<app-loading [isLoading]="!dataArrived" [title]="crudAction + ' record'"></app-loading>
<app-alert *ngIf="errorArrived" [title]="'Error'" [code]="response.code"></app-alert>
<div *ngIf="debug">TableRecordComponent record = <pre>{{ record | json}}</pre></div>


<md-card *ngIf="dataArrived">
	<md-card-header>
		<md-card-title>
			<h2>
				<span *ngIf="crudAction == 'create'">Adding New </span>
				<span *ngIf="crudAction == 'update'">Updating </span>
				<span *ngIf="crudAction == 'remove'">Removing </span>
				{{response['a3']}} Record
			</h2>
		</md-card-title>
		<md-card-subtitle>{{response['a4']}}</md-card-subtitle>
	</md-card-header>

	<md-card-content>
		<app-db-group-field 
			*ngIf="dataArrived"
			[fieldGroupValue]="record"
			(emitingRecordValue)="updateRecordValues('record', $event)"
		></app-db-group-field>
	</md-card-content>

</md-card>