<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Expires" content="0">

<app-loading 
	[isLoading]="!loadingRecordStructure" 
	[title]="'record structure for ' + crudAction"
></app-loading>
<app-alert 
	*ngIf="errorWhileloadingRecordStructure" 
	[title]="'Error'" 
	[code]="tableRecordStructure.code"
></app-alert>

<md-card *ngIf="loadingRecordStructure">
	<md-card-header>
		<md-card-title>
			<h2>
				<span *ngIf="crudAction == 'create'">Adding New </span>
				<span *ngIf="crudAction == 'update'">Updating </span>
				<span *ngIf="crudAction == 'remove'">Removing </span>
				{{t1Record['f3']}} Record
			</h2>
		</md-card-title>
		<md-card-subtitle>{{t1Record['f4']}}</md-card-subtitle>
	</md-card-header>

	<md-card-content>
		<hr />
		<form #dbForm="ngForm" accept-charset="utf-8">
		
		<app-db-group-field 
			[tableNumber]="tableNumber"
			[fieldGroupValues]="tableRecordValues"
			[fieldGroupStructure]="tableRecordStructure"
			(groupFieldValueIsUpdated)="updateRecordValues($event)"
			(groupFieldStructureIsUpdated)="updateRecordStructure($event)"
		></app-db-group-field>

		<hr *ngIf="(tableNumber == tableOfTables)" />
		<button md-button [routerLink]="['/db/tsl']">All Tables</button>
		<button md-button [routerLink]="['/db/tl/' + tableNumber]">{{t1Record['f3']}} Table</button>
		<button md-button (click)="sendUserAction('save')">
			<span *ngIf="crudAction == 'create'">Add New Record</span>
			<span *ngIf="crudAction == 'update'">Update Record</span>
			<span *ngIf="crudAction == 'remove'">Remove Record</span>
		</button>
		
		Valid Form: {{dbForm.form.valid}}
		<span *ngIf="tableIsUpdated"><i>Information is updated now</i></span>
		</form>

	</md-card-content>

</md-card>

<!--
<div *ngIf="debug">TableRecordComponent tableRecordStructure = 
	<pre>{{ tableRecordStructure | json}}</pre>
</div>
<div *ngIf="debug">TableRecordComponent tableRecordValues = 
	<pre>{{ tableRecordValues | json}}</pre>
</div>
-->
