
@import '~@angular/material/prebuilt-themes/pink-bluegrey.css';



/* lns = Lily Name Space */
body: {
	margin: 0;
}
.lns_center_it{
  text-align: center;
  margin: 0 auto;
}

.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948; /* green */
}

.ng-invalid:not(form)  {
  border-left: 5px solid #a94442; /* red */
}

.lns_loading {
	color: red;
}

.no_bullets {
	list-style: none;
}

.lnsPage {
	margin: auto;
}

.lns_sub_fields_border {
	padding: 1%;
	border: 2px solid;
}

.spacer {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}

.lns_background_warn {
  background-color: warn;
}
