<div class="lnsPage ui-widget">
  
  <div class="lnsHeader ui-widget-header">
    Adding New {{(docOfCocs|async)?.name}} Record
  </div><!-- class="lnsHeader" -->
  
  <div class="lnsNavigation">
    <div class="lns_loading" *ngIf="!(docOfCocs | async)">Loading form...</div>
  </div><!-- class="lnsNavigation" -->
  
  <div class="lnsMain ui-widget-content" *ngIf="(docOfCocs | async)">

    <form 
      *ngIf="(docOfCocs | async)" 
      [formGroup]="docForm" 
      novalidate  
      (ngSubmit)="onSubmit(docForm)" 
      [hidden]="submitted"
    >

      <ul class="no_bullets">

        <li>
          <hr /><label for="addInCollFieldactiveId">Status</label><br />
          <select 
            id="addInCollFieldactiveId" 
            formControlName="active" 
            required
          >
            <option value="false">Inactive</option>
            <option value="true" selected=selected>Active</option>
          </select>
        </li>

        <li *ngFor="let field of fields[0]" >       

          <div *ngIf="(field['name'] != 'active')"><!-- fields to ignore -->

            <div *ngIf="(field['type'] != 'fields')" class="ui-field-contain"><!-- main fields -->

              <hr /><label 
                id="addInCollLabel{{field['name']}}Id" 
                for="addInCollField{{field['name']}}Id">
                {{field['title']}}
              </label><br />

              <input *ngIf="(field['type'] == 'string')"
                type="text" 
                formControlName="{{field['name']}}"
                id="addInCollField{{field['name']}}Id"
              />

              <input *ngIf="(field['type'] == 'date')"
                placeholder="date" 
                type="text" 
                class="lns_datepicker"
                formControlName="{{field['name']}}"
                id="addInCollField{{field['name']}}Id"
              />

            </div><!-- main fields -->

            <div *ngIf="(field['type'] == 'fields')" class="ui-field-contain"><!-- show sub fields -->

              <hr /><fieldset>
                <legend>{{field['title']}}</legend>
                <div><!--  add button -->
                  <span (click)="addSubFieldL1(field['name'], docForm['controls'][field['name']]['controls'])"
                    title="Add New {{field['title']}}">
                    Add New {{field['title']}}
                  </span>
                </div><!-- add button -->

                <div formArrayName="{{field['name']}}">
                  <div 
                    *ngFor="
                      let singleSubRecord of docForm['controls'][field['name']]['controls']; 
                      let i = index; 
                    "
                  >
                    <div [formGroupName]="i" class="lns_sub_fields_border"><!-- [formGroupName]="i" -->
                      <div><!--  remove button -->
                        <span (click)="removeSubFieldL1(i, field['name'])">
                          Remove {{i + 1}}
                        </span>
                      </div><!-- remove button -->

                      <div *ngFor="let subField of field['value']" ><!-- each sub field -->
                        <hr /><label 
                          id="addInCollLabel{{subField['name']}}Id" 
                          for="addInCollField{{subField['name']}}Id">
                          {{subField['title']}}
                        </label><br />

                        <input *ngIf="(subField['type'] == 'string')"
                          type="text" 
                          formControlName="{{subField['name']}}"
                          id="addInCollField{{subField['name']}}Id"
                        />

                        <input *ngIf="(subField['type'] == 'date')"
                          placeholder="date" 
                          type="text" 
                          class="lns_datepicker"
                          formControlName="{{subField['name']}}"
                          id="addInCollField{{subField['name']}}Id"
                        />
                      </div><!-- each sub field -->
                    </div><!-- [formGroupName]="i" -->
                  </div><!-- ngFor="let singleSubRecord -->
              </div><!-- formArrayName-->

            </fieldset>

          </div><!-- show sub fields -->
        
        </div><!-- fields to ignore -->
        
        </li>

        <li><hr />
          <button
            type="submit"
            class="ui-btn ui-shadow ui-btn-inline ui-corner-all ui-icon-action ui-btn-icon-left"
            [disabled]="!docForm.valid"
          >Add</button>
          <button 
            [routerLink]="['/cocs']" 
            class="ui-btn ui-shadow ui-btn-inline ui-corner-all ui-icon-arrow-l ui-btn-icon-left"
          >Cancel</button>
          <button 
            type="reset" 
            class="ui-btn ui-shadow ui-btn-inline ui-corner-all ui-icon-recycle ui-btn-icon-left"
          >Reset</button>
        </li>

      </ul>
    </form>

  </div><!-- class="lnsMain" -->

  <div class="lnsFooter">
  </div><!-- class="lnsFooter" -->

</div><!-- class="lnsPage" -->
