<div class="lns_loading" *ngIf="!(docOfCocs | async)">Loading add record form...</div>

<md-card *ngIf="(docOfCocs | async)"><!-- L1 -->
  <md-card-header>
    <md-card-title><h2>Add {{(docOfCocs|async)?.f3.v}} Record</h2></md-card-title>
    <md-card-subtitle><p>{{(docOfCocs|async)?.f4.v}} Record</p></md-card-subtitle>
  </md-card-header>

  <tr><td><!-- L1, R4 -->
    <form #cocsForm="ngForm" novalidate>

      <table><!-- L2 Form -->
        <tr *ngFor=" let fieldNameL2 of recordStructure['sorted_field_names']; let rsCountL2 = index; "><td><!-- L2 Form, R1 -->
          recordStructure[{{fieldNameL2}}]
          
          <md-input-container *ngIf="recordStructure[fieldNameL2]['type'] != 'obj'">
            <input 
              mdInput  
              placeholder="{{ recordStructure[fieldNameL2]['title'] }}" 
              type="text"
              value="{{ recordStructure [fieldNameL2] ['default_value'] }}"
              name="{{ fieldNameL2 }}"
              [(ngModel)]="recordValues[fieldNameL2]['v']"
              id="addInCollField{{ fieldNameL2 }}Id"
            />
          </md-input-container>

          <fieldset *ngIf="recordStructure[fieldNameL2]['type'] == 'obj'"><!-- fieldNameL2 is obj -->

            <legend>{{ recordStructure[fieldNameL2]['title'] }}</legend>

          <table><!-- L3 Sub Fields -->
          

            <tr *ngFor=" let fieldNameL3 of recordValues[fieldNameL2]['v']['sorted_field_names']; let rvCountL3 = index; "
            ><td><!-- L3 Sub Fields, R1 -->
            recordValues[{{fieldNameL2}}-v-{{fieldNameL3}}]

   
            <fieldset><!-- fieldNameL3 is obj -->
              <legend>{{ recordValues[fieldNameL2]['v'][fieldNameL3]['title'] }}</legend>

              <div><!--  remove button -->
                <button md-raised-button (click)="removeSubFieldL1( rvCountL3, fieldNameL2 )">
                  Remove {{ fieldNameL2 }}{{rvCountL3+1}}
                </button>
              </div><!-- remove button -->

              <table>
                <tr *ngFor=" let fieldNameL4 of recordStructure[fieldNameL2]['v']['sorted_field_names']; let rsCountL4 = index; "><td>
                recordStructure[{{fieldNameL2}}-v-{{fieldNameL4}}]


                  <md-input-container *ngIf=" recordStructure[fieldNameL2]['v'][fieldNameL4]['type'] != 'obj' ">
                    <input 
                      mdInput  
                      placeholder="{{ recordStructure[fieldNameL2]['v'][fieldNameL4]['title'] }}" 
                      type="text"
                      name="{{ fieldNameL2 }}{{ fieldNameL3 }}{{ fieldNameL4 }}"
                      [(ngModel)]="recordValues[fieldNameL2]['v'][fieldNameL3][fieldNameL4]"
                      id="addInCollField{{ fieldNameL2 }}{{ fieldNameL3 }}{{ fieldNameL4 }}Id"
                    />
                  </md-input-container>

                  <fieldset *ngIf=" recordStructure[fieldNameL2]['v'][fieldNameL4]['type'] == 'obj' "><!-- fieldNameL4 is obj -->

                    <legend>{{ recordStructure[fieldNameL2]['v'][fieldNameL4]['title'] }}</legend>


                    <table>
                      <tr *ngFor=" let fieldNameL5 of recordValues[fieldNameL2]['v'][fieldNameL4]['v']['sorted_field_names']; let rvCountL5 = index; "><td>
                      rs-v-{{fieldNameL2}}-v-{{fieldNameL4}}-v-{{fieldNameL5}}

                      <table>
                        
                      <tr *ngFor=" let fieldNameL6 of recordStructure[fieldNameL2]['v'][fieldNameL4]['v']['sorted_field_names']; let rvCountL6 = index; "><td>
                        
                        <md-input-container>
                          <input 
                            mdInput  
                            placeholder="{{ recordStructure[fieldNameL2]['v'][fieldNameL4]['v'][fieldNameL6]['title'] }}" 
                            type="text"
                            name="{{ fieldNameL2 }}{{ fieldNameL3 }}{{ fieldNameL4 }}{{ fieldNameL5 }}{{ fieldNameL6 }}"
                            [(ngModel)]="recordValues[fieldNameL2]['v'][fieldNameL4]['v']"
                            id="addInCollField{{ fieldNameL2 }}{{ fieldNameL3 }}{{ fieldNameL4 }}{{ fieldNameL5 }}{{ fieldNameL6 }}Id"
                          />
                        </md-input-container>

                      </td></tr>

                      </table>
                    



                      </td></tr>
                    </table>


                  </fieldset>

                </td></tr>
              </table>

              </fieldset>

            </td></tr><!-- L3 Sub Fields, R1 --><!-- for each value of record -->


          </table><!-- L3 Sub Fields -->


          </fieldset>

        </td></tr><!-- L2 Form, R1 -->

        <tr><td>
          <button
            md-raised-button
            type="submit"
            (click)="onSubmit()" 
          >Add Record</button>
          <button
            md-raised-button
            [routerLink]="['/cocs/list']" 
          >Cancel</button>
          <button
            md-raised-button
            type="reset" 
          >Reset</button>
        </td></tr>

      </table><!-- L2  Form -->



    </form>
  </td></tr><!-- L1, R4 -->

  <tr><td><!-- L1, R2 -->
    <hr />Record Values = <pre>{{ recordValues | json }}</pre>
  </td></tr><!-- L1, R2 -->

  <tr><td><!-- L1, R2 -->
    <hr />Record Structure (Modified Collection Structure) = <pre>{{ recordStructure | json }}</pre>
  </td></tr><!-- L1, R2 -->
  
  <tr><td><!-- L1, R1 -->
    <hr />Record of Cocs (Collection Structure) = <pre>{{ docOfCocs | async | json }}</pre>
  </td></tr><!-- L1, R1 -->

</md-card><!-- L1 -->