<div class="lns_loading" *ngIf="!(docOfCocs | async)">Loading {{(docOfCocs|async)?.name}}  detail...</div>
<md-card *ngIf="(docOfCocs | async)">

	<md-card-header>
		<md-card-title><h2>Table {{(docOfCocs|async)?.name}} Details</h2></md-card-title>
		<md-card-subtitle>{{(docOfCocs|async)?.detail}}</md-card-subtitle>
	</md-card-header>

	<md-card-content>
		<md-list>
			<md-list-item>
				<button 
					md-mini-fab 
					[routerLink]="['/ac/new/'+(docOfCocs|async)?.$key+'/'+(docOfCocs|async)?.f2.v]"
					title="Add New Record"
				><md-icon>add</md-icon></button>
				&nbsp;
				<md-input-container>

					<input 
						mdInput 
						id="collectionListSearchId" 
						placeholder="Search Records" 
						[(ngModel)]="actualCollectionSearchPattern"
						(ngModelChange) = "searchActualCollections()"
					/>
				</md-input-container>
			</md-list-item>
			
			<md-list-item 
				*ngFor="let actualCollection of actualCollectionList | async" 
				[class.disabled]="!docOfCocs.active"
			>
						<button md-mini-fab
							[routerLink]="['/ac/update/'+(docOfCocs|async)?.$key+'/'+(docOfCocs|async)?.f2.v, actualCollection.$key]" 
							title="Update"
						><md-icon>mode_edit</md-icon></button>
						
						<button md-mini-fab
							[routerLink]="['/ac/remove/'+(docOfCocs|async)?.$key+'/'+(docOfCocs|async)?.f2.v, actualCollection.$key]" 
							title="Remove"
						><md-icon>delete</md-icon></button>

						{{actualCollection.number}}.
						{{actualCollection.name}}
						: {{actualCollection.detail}}
			</md-list-item>
		</md-list>

	</md-card-content>

	<md-card-actions>
		Total <strong>{{(actualCollectionList|async)?.length}}</strong>
		{{(actualCollectionList|async)?.length <= 1?'record':'records'}} in table
	</md-card-actions>

</md-card>
