<section>
  <header>
    <h2>{{(collection|async)?.name}}</h2>
  </header>
  <section>
    {{(collection|async)?.detail}}
    <div class="loading" *ngIf="!(collection | async)">Loading collection detail...</div>
   <header>
      <label for="actualCollectionListSearchId">Search</label>
      <input 
         id="actualCollectionListSearchId"
         placeholder="name, number or detail pattern"
         [(ngModel)]="actualCollectionSearchPattern"
         (ngModelChange) = "searchActualCollections()"
      />
  </header>
  <section>
    <div class="loading" *ngIf="!(actualCollectionList | async)">Loading {{(collection|async)?.name}} list...</div>
    <ol>
      <li *ngFor="let actualCollection of actualCollectionList | async" [class.disabled]="!collection.active">
          {{actualCollection.number}}.
          <a [routerLink]="['/collection', collection.$key]">{{actualCollection.name}}</a>
           : {{actualCollection.detail}}
      </li>
    </ol>
  </section>
  
  </section>
</section>