<div class="lns_loading" *ngIf="!(docOfCocs | async)">Loading database detail...</div>
<md-card *ngIf="(docOfCocs | async)">

	<md-card-header>
		<md-card-title><h2>{{(docOfCocs|async)?.name}}</h2></md-card-title>
		<md-card-subtitle>{{(docOfCocs|async)?.detail}}</md-card-subtitle>
	</md-card-header>

	<md-card-content>
	
		<md-input-container>
			<input 
				mdInput 
				id="collectionListSearchId" 
				placeholder="Search Tables" 
				[(ngModel)]="searchPattern"
				(ngModelChange) = "searchCollections()"
			/>
		</md-input-container>

		<md-list>
			<md-list-item 
				*ngFor="let docOfCocs of listOfCocs | async" 
				[class.disabled]="!docOfCocs.active"
			>
				-{{docOfCocs.number}}- {{docOfCocs.f2}}.
				<a [routerLink]="['/cocs/show', docOfCocs.$key]"
				>-{{docOfCocs.name}}- {{docOfCocs.f3}} Collection</a>
				: -{{docOfCocs.detail}}- {{docOfCocs.f4}}
			</md-list-item>
		</md-list>

	</md-card-content>

	<md-card-actions>
		Total <strong>{{(listOfCocs|async)?.length}}</strong>
		{{(listOfCocs|async)?.length <= 1?'table':'tables'}} in list
	</md-card-actions>

</md-card>
