<section>

  <header>
    <h2>{{(collectionDocument|async)?.name}}</h2>
  </header>

  <section>
  
    {{(collectionDocument|async)?.detail}}
    <div class="loading" *ngIf="!(collectionDocument | async)">Loading collection document detail...</div>
	<header>
        <label for="collectionListSearchId">Search Collection: </label><input 
	       id="collectionListSearchId"
	       placeholder="name, number or detail pattern"
	       [(ngModel)]="searchPattern"
	       (ngModelChange) = "searchCollections()"
	    />
	</header>

	<section>
	  	<div class="loading" *ngIf="!(collections | async)">Loading collections list...</div>
	    <ol>
	      <li *ngFor="let collection of collections | async" [class.disabled]="!collection.active">	          
	          <a [routerLink]="['/collections/update', collection.$key]" class="ui-btn ui-shadow ui-corner-all ui-icon-edit ui-btn-icon-notext ui-btn-inline">Update</a>
	          <a [routerLink]="['/collections/delete', collection.$key]" class="ui-btn ui-shadow ui-corner-all ui-icon-delete ui-btn-icon-notext ui-btn-inline">Delete</a>
	          {{collection.number}}.
	          <a *ngIf="collection.active" [routerLink]="['/collection', collection.$key]">{{collection.name}}</a>
	          <span *ngIf="!collection.active">{{collection.name}}</span>
	           : {{collection.detail}}
	      </li>
	    </ol>
	</section>

	<footer>
	  <span>
	    <strong>{{(collections|async)?.length}}</strong>
	    {{(collections|async)?.length <= 1?'collection':'collections'}}
	    | <a [routerLink]="['/collection/new']">Add New Collection</a>
	    | <a [routerLink]="['/activities']">Activities</a>
	  </span>
	</footer>
    
  </section>
  
</section>