<div class="lns_loading" *ngIf="!(docOfCocs | async)">Loading update form...</div>
<md-card *ngIf="(docOfCocs | async)">
  <md-card-header>
    <md-card-title><h2>Update {{(docOfCocs|async)?.name}} Record</h2></md-card-title>
    <md-card-subtitle>{{(docOfCocs|async)?.detail}}</md-card-subtitle>
  </md-card-header>

  <md-card-content>
    <form 
      #cocsForm="ngForm"
      novalidate  
      (ngSubmit)="onSubmit()" 
      [hidden]="submitted"
    >
      <ul>
        <li *ngFor="let field of fields">
          <span *ngIf="field['type'] != 'fields'">
            <md-input-container *ngIf="(field['type'] == 'string')">
              <input 
              mdInput  
              placeholder="{{field['title']}}" 
              type="text"
              name="{{field['name']}}"
              [(ngModel)]="field['value']"
              id="addInCollField{{field['name']}}Id"
              />
            </md-input-container>

            <md-input-container *ngIf="(field['type'] == 'number')">
              <input 
              mdInput  
              placeholder="{{field['title']}}" 
              type="number"
              name="{{field['name']}}"
              [(ngModel)]="field['value']"
              id="addInCollField{{field['name']}}Id"
              />
            </md-input-container>

            <md-input-container *ngIf="(field['type'] == 'date')">
              <input 
              mdInput  
              placeholder="{{field['title']}}" 
              type="date" 
              title="{{field['name']}}"
              [(ngModel)]="field['value']"
              id="addInCollField{{field['name']}}Id"
              />
            </md-input-container>
          </span>
          <span *ngIf="field['type'] == 'fields'">
            <fieldset class="lns_sub_fields_border">
              <legend>{{field['name']}}</legend>
              <ul>
                <li *ngFor="let v of field['value']">
                  {{v|json}}
                </li>
              </ul>
            </fieldset>
          </span>          
          {{field | json}}
        </li>
      </ul>

    </form>
  </md-card-content>
</md-card>