<div class="lns_loading" *ngIf="!(docOfCocs | async)">Loading update form...</div>
<md-card *ngIf="(docOfCocs | async)">
  <md-card-header>
    <md-card-title><h2>Update {{(docOfCocs|async)?.name}} Record</h2></md-card-title>
    <md-card-subtitle>{{(docOfCocs|async)?.detail}}</md-card-subtitle>
  </md-card-header>

  <md-card-content>
    rV = <pre>{{recordValues | json}}</pre><hr />
    rS = <pre>{{recordStructure | json}}</pre>
    <form 
      #cocsForm="ngForm"
      novalidate  
    >
      <ul>
        <li *ngFor="let field of recordStructure">
          <span *ngIf="field['type'] != 'fields'">
            
            <md-slide-toggle 
              *ngIf="(field['type'] == 'boolean')"
              name="{{field['name']}}"
              [(ngModel)]="recordValues[field['name']]"
              id="addInCollField{{field['name']}}Id"
            >{{field['title']}}</md-slide-toggle> 
            

            <md-input-container *ngIf="(field['type'] == 'string')">
              <label for="addInCollField{{field['name']}}Id">{{field['title']}}</label>
              <input 
                mdInput  
                placeholder="{{field['title']}}" 
                type="text"
                name="{{field['name']}}"
                value="{{recordValues[field['name']]}}"
                [(ngModel)]="recordValues[field['name']]"
                id="addInCollField{{field['name']}}Id"
              />
            </md-input-container>

            <md-input-container *ngIf="(field['type'] == 'number')">
              <input 
                mdInput  
                placeholder="{{field['title']}}" 
                type="number"
                name="{{field['name']}}"
                value="{{recordValues[field['name']]}}"
                [(ngModel)]="recordValues[field['name']]"
                id="addInCollField{{field['name']}}Id"
              />
            </md-input-container>

            <md-input-container *ngIf="(field['type'] == 'date')">
              <input 
                mdInput  
                placeholder="{{field['title']}}" 
                type="date" 
                title="{{field['name']}}"
                value="{{recordValues[field['name']]}}"
                [(ngModel)]="recordValues[field['name']]"
                id="addInCollField{{field['name']}}Id"
              />
            </md-input-container>
          </span>
          <span *ngIf="field['type'] == 'fields'">
            <fieldset>
              <legend>{{field['name']}}</legend>
              <ul *ngIf="recordValues[field['name']]?.length > 0">
                <li *ngFor="let subFieldValue of recordValues[field['name']]; let i = index; " class="lns_sub_fields_border">
                  <div><!--  remove button -->
                    <button md-raised-button (click)="removeSubFieldL1(i, field['name'])">
                      Remove {{i+1}}
                    </button>
                  </div><!-- remove button -->

                  <ul>
                  <li *ngFor="let subField of field['fields']">

                    <md-slide-toggle 
                      *ngIf="(subField['type'] == 'boolean')"
                      name="{{field['name']}}{{i}}{{subField['name']}}"
                      [(ngModel)]="recordValues[field['name']][i][subField['name']]"
                      id="addInCollField{{field['name']}}{{i}}{{subField['name']}}Id"
                    >{{field['title']}}</md-slide-toggle> 
                    

                    <md-input-container *ngIf="(subField['type'] == 'string')">
                      <input 
                        mdInput  
                        placeholder="{{subField['title']}}" 
                        type="text"
                        name="{{field['name']}}{{i}}{{subField['name']}}"
                        value="{{subFieldValue[subField['name']]}}"
                        [(ngModel)]="recordValues[field['name']][i][subField['name']]"
                        id="addInCollField{{field['name']}}{{i}}{{subField['name']}}Id"
                      />
                    </md-input-container>

                    <md-input-container *ngIf="(subField['type'] == 'number')">
                      <input 
                        mdInput  
                        placeholder="{{subField['title']}}" 
                        type="number"
                        name="{{field['name']}}{{i}}{{subField['name']}}"
                        value="{{subFieldValue[subField['name']]}}"
                        [(ngModel)]="recordValues[field['name']][i][subField['name']]"
                        id="addInCollField{{field['name']}}{{i}}{{subField['name']}}Id"
                      />
                    </md-input-container>

                    <md-input-container *ngIf="(subField['type'] == 'date')">
                      <input 
                        mdInput  
                        placeholder="{{subField['title']}}" 
                        type="date"
                        name="{{field['name']}}{{i}}{{subField['name']}}"
                        value="{{subFieldValue[subField['name']]}}"
                        [(ngModel)]="recordValues[field['name']][i][subField['name']]"
                        id="addInCollField{{field['name']}}{{i}}{{subField['name']}}Id"
                      />
                    </md-input-container>

                  </li>
                  </ul>
                </li>
              </ul>
                  <button 
                    md-raised-button
                    (click)="addSubFieldL1(field['name'], field['fields'])"
                    title="Add New in {{field['title']}}"
                  >Add New in {{field['title']}}</button>
            </fieldset>
          </span>
        </li>
        <li>
          <button
            md-raised-button
            type="submit"
            (click)="onSubmit()" 
          >Update Record</button>
          <button
            md-raised-button
            [routerLink]="['/cocs/list']" 
          >Cancel</button>
          <button
            md-raised-button
            type="reset" 
          >Reset</button>
        </li>
      </ul>

    </form>
  </md-card-content>
</md-card>