
<p-dataTable [value]="tableValues" selectionMode="single" [(selection)]="selectedRecord" (onRowSelect)="onRowSelect($event)" [paginator]="true" rows="15" [responsive]="true" *ngIf="dataLoaded">
    <p-header>{{ subTitle }} <br /> {{summary}}</p-header>

    <p-column field="web_domain" header="Web Domain" [sortable]="true"></p-column>
    
    <p-column field="names" header="Names" [sortable]="true">
        <ng-template let-col let-names="rowData.names" pTemplate="body">
            <ul><li *ngFor="let name of names">
                {{ name.prefix }} {{ name.first }} {{ name.middle }} {{ name.last }} {{ name.suffix }}
            </li></ul>
        </ng-template>
    </p-column>
    
    <p-column field="gender" header="Gender" [sortable]="true">
        <ng-template let-col let-g="rowData.gender" pTemplate="body">
            {{ getLabel(genders, 'value', g) }}
        </ng-template>    
        
    </p-column>
    
    <p-footer>
        <div class="ui-helper-clearfix" style="width:100%">
            <button *ngIf="!selectedRecord" type="button" pButton icon="fa-plus" style="float:left" (click)="showDialogToAdd()" label="Add"></button>
            <button *ngIf="selectedRecord" type="button" pButton icon="fa-plus" style="float:left" (click)="showDialogToAdd()" label="Clone"></button>            
        </div>
    </p-footer>
</p-dataTable>

<div *ngIf="message" class="ui-message ui-corner-all ui-messages-success">
    {{message}}
</div>

<div *ngIf="errorMessage" class="ui-message ui-messages-error ui-corner-all">
    Can not save. Please check following: <ul>
        <li *ngFor="let error of keysOfObject(errorMessage)">
            {{error}} : 
            <span *ngIf="isVariableObject(errorMessage[error])">
                <ul>
                    <li  *ngFor="let subError of keysOfObject(errorMessage[error])">
                        {{subError}} : {{errorMessage[error][subError] | json}}
                    </li>
                </ul>
            </span>
            <span *ngIf="!isVariableObject(errorMessage[error])">
                {{errorMessage[error]}}
            </span>
        </li>
    </ul>
</div>

<p-dialog header="{{title}}" [(visible)]="displayDialog" [responsive]="true" showEffect="fade" [modal]="true" [responsive]="true" >

    <form [formGroup]="recordForm" novalidate (ngSubmit)="save(recordForm.value)">

        <div class="ui-grid ui-grid-responsive ui-fluid">

            <div class="ui-grid-row lns_sub_fields_border">
                <div class="ui-grid-col-12">
                    <label for="web_domain" style="font-weight: bolder;">Web Domain *</label>

                    <input pInputText type="text" id="web_domain" formControlName="web_domain" />

                    <div class="ui-message ui-messages-error ui-corner-all" *ngIf="recordForm.controls.web_domain.errors && recordForm.controls.web_domain.errors.required"
                    >
                        Web domain is required
                    </div>
                </div>
            </div>

            <div class="ui-grid-row lns_sub_fields_border">
                <div class="ui-grid-col-12">

                    <label for="namesId" style="font-weight: bolder;">Names *</label>

                    <div formArrayName="names" id="namesId">

                        <p-panel *ngFor=" let name of recordForm.controls.names.controls; let i=index; ">

                        <p-header>
                            <div class="ui-helper-clearfix">
                                <span class="ui-panel-title" style="font-size:16px;display:inline-block;margin-top:2px">Name {{i + 1}}</span>
                                
                                <span 
                                    style="float:right"
                                    *ngIf="recordForm.controls.names.controls.length > 1"
                                    (click)="recordForm.get('names').removeAt(i)"
                                ><i class="fa fa-close"></i></span>
                            </div>
                        </p-header>
                            
                            <div [formGroupName]="i" >

                                <div class="ui-grid-row lns_sub_fields_border">
                                    <div class="ui-grid-col-12"> 

                                        <label for="prefixId" style="font-weight: bolder;">Prefix</label>
                                        <input pInputText id="prefixId" formControlName="prefix" />


                                        <div class="ui-message ui-messages-error ui-corner-all" 
                                            *ngIf="recordForm.controls.names.controls[i].controls.prefix.errors 
                                            &&  recordForm.controls.names.controls[i].controls.prefix.errors.pattern"
                                        >
                                            Prefix format is not correct
                                        </div>

                                    </div>
                                </div>
                            
                                <div class="ui-grid-row lns_sub_fields_border">
                                    <div class="ui-grid-col-12">
                                        <label for="firstId" style="font-weight: bolder;">First *</label>
                                        <input pInputText id="firstId" formControlName="first" />
                                        
                                        <div class="ui-message ui-messages-error ui-corner-all" 
                                            *ngIf="recordForm.controls.names.controls[i].controls.first.errors 
                                            && recordForm.controls.names.controls[i].controls.first.errors.required"
                                        >
                                            First name is required
                                        </div>

                                         <div class="ui-message ui-messages-error ui-corner-all" 
                                            *ngIf="recordForm.controls.names.controls[i].controls.first.errors 
                                            && recordForm.controls.names.controls[i].controls.first.errors.pattern"
                                        >
                                            First name format is not correct
                                        </div>
                   
                                    </div>
                                </div>
                            
                                <div class="ui-grid-row lns_sub_fields_border">
                                    <div class="ui-grid-col-12">                            
                                        <label for="middleId" style="font-weight: bolder;">Middle</label>
                                        <input pInputText id="middleId" formControlName="middle" />

                                        <div class="ui-message ui-messages-error ui-corner-all" 
                                            *ngIf="recordForm.controls.names.controls[i].controls.middle.errors 
                                            && recordForm.controls.names.controls[i].controls.middle.errors.pattern"
                                        >
                                            Middle name format is not correct
                                        </div>

                                    </div>
                                </div>
                            
                                <div class="ui-grid-row lns_sub_fields_border">
                                    <div class="ui-grid-col-12">
                                        <label for="lastId" style="font-weight: bolder;">Last</label>
                                        <input pInputText id="lastId" formControlName="last" />


                                        <div class="ui-message ui-messages-error ui-corner-all" 
                                            *ngIf="recordForm.controls.names.controls[i].controls.last.errors 
                                            && recordForm.controls.names.controls[i].controls.last.errors.pattern"
                                        >
                                            Last name format is not correct
                                        </div>

                                    </div>
                                </div>

                                <div class="ui-grid-row lns_sub_fields_border">
                                    <div class="ui-grid-col-12">
                                        <label for="suffixId" style="font-weight: bolder;">Suffix</label>
                                        <input pInputText id="suffixId" formControlName="suffix" />

                                        <div class="ui-message ui-messages-error ui-corner-all" 
                                            *ngIf="recordForm.controls.names.controls[i].controls.suffix.errors 
                                            && recordForm.controls.names.controls[i].controls.suffix.errors.pattern"
                                        >
                                            Suffix format is not correct
                                        </div>

                                    </div>
                                </div>

                            </div>

                        </p-panel>
                        
                    </div>

                    <button type="button" pButton icon="fa-add" label="Add Name" (click)="recordForm = addControlFromGroup(recordForm, 'names', initName())"></button>

                </div>

            </div> 

            <div class="ui-grid-row lns_sub_fields_border">
                <div class="ui-grid-col-12">
                    <label for="genderId" style="font-weight: bolder;">Gender</label>
                    <p-listbox [options]="genders" id="genderId"  formControlName="gender" ></p-listbox>
                </div>
            </div>

        </div>

        <p-footer>
            <div class="ui-dialog-buttonpane ui-helper-clearfix">
                <button type="button" pButton icon="fa-close" (click)="delete(recordForm.value)" label="Delete"></button>
                <button type="submit" pButton icon="fa-check" label="Save" [disabled]="!recordForm.valid" ></button>
            </div>
        </p-footer>

    </form>

</p-dialog>