
<p-dataTable [value]="tableValues" selectionMode="single" [(selection)]="selectedRecord" (onRowSelect)="onRowSelect($event)" [paginator]="true" rows="15" [responsive]="true" *ngIf="dataLoaded">
    <p-header>{{ subTitle }} <br /> {{summary}}</p-header>
    <p-column field="web_domain" header="Web Domain" [sortable]="true"></p-column>
    <p-column field="phone_number" header="Phone Number" [sortable]="true"></p-column>
    <p-column field="use" header="Use" [sortable]="true">
        <ng-template let-col let-use="rowData.use" pTemplate="body">
            <ul><li *ngFor="let u of use">
                {{ getLabel(usages, 'value', u) }}
            </li></ul>
        </ng-template>
    </p-column>
    <p-column field="other_use" header="Other Use" [sortable]="true"></p-column>
    <p-footer>
        <div class="ui-helper-clearfix" style="width:100%">
            <button *ngIf="!selectedRecord" type="button" pButton icon="fa-plus" style="float:left" (click)="showDialogToAdd()" label="Add"></button>
            <button *ngIf="selectedRecord" type="button" pButton icon="fa-plus" style="float:left" (click)="showDialogToAdd()" label="Clone"></button>            
        </div>
    </p-footer>
</p-dataTable>

<div *ngIf="message" class="ui-message ui-corner-all ui-messages-success">
    {{message}}
</div>

<div *ngIf="errorMessage" class="ui-message ui-messages-error ui-corner-all">
    Can not save. Please check following: <ul>
        <li *ngFor="let error of keysOfObject(errorMessage)">
            {{error}} : 
            <span *ngIf="isVariableObject(errorMessage[error])">
                <ul>
                    <li  *ngFor="let subError of keysOfObject(errorMessage[error])">
                        {{subError}} : {{errorMessage[error][subError]}}
                    </li>
                </ul>
            </span>
            <span *ngIf="!isVariableObject(errorMessage[error])">
                {{errorMessage[error]}}
            </span>
        </li>
    </ul>
</div>

<p-dialog header="{{title}}" [(visible)]="displayDialog" [responsive]="true" showEffect="fade" [modal]="true" [responsive]="true" [contentStyle]="{'overflow':'auto','max-height':'500px'}">

    <form [formGroup]="recordForm" novalidate (ngSubmit)="save(recordForm.value)">

        <div class="ui-grid ui-grid-responsive ui-fluid">

            <div class="ui-grid-row lns_sub_fields_border">
                <div class="ui-grid-col-12">
                    <label for="webDomainId" style="font-weight: bolder;">Web Domain *</label>

                    <input pInputText type="text" id="webDomainId" formControlName="web_domain" />

                    <div class="ui-message ui-messages-error ui-corner-all" *ngIf="recordForm.controls.web_domain.errors && recordForm.controls.web_domain.errors.required"
                    >
                        Web domain is required
                    </div>
                </div>
            </div>

            <div class="ui-grid-row lns_sub_fields_border">
                <div class="ui-grid-col-12">
                    <label for="phoneNumberId" style="font-weight: bolder;">Phone Number *</label>

                    <input pInputText type="text" id="phoneNumberId" formControlName="phone_number" />

                    <div class="ui-message ui-messages-error ui-corner-all" *ngIf="recordForm.controls.phone_number.errors && recordForm.controls.phone_number.errors.required"
                    >
                        Phone number is required
                    </div>

                    <div class="ui-message ui-messages-error ui-corner-all" *ngIf="recordForm.controls.phone_number.errors && recordForm.controls.phone_number.errors.pattern"
                    >
                        Phone number foramt is not correct
                    </div>
                </div>
            </div>

            <div class="ui-grid-row lns_sub_fields_border">
                <div class="ui-grid-col-12">
                    <label for="useId" style="font-weight: bolder;">Use *</label>
                    <p-multiSelect  [options]="usages" id="useId"  formControlName="use" ></p-multiSelect >

                    <div class="ui-message ui-messages-error ui-corner-all" *ngIf="recordForm.controls.use.errors && recordForm.controls.use.errors.required"
                    >
                        Use is required
                    </div>                    
                </div>
            </div>

            <div *ngIf="doesValueExists('other', recordForm.controls.use.value)" 
                class="ui-grid-row lns_sub_fields_border">
                <div class="ui-grid-col-12">
                    <label for="useId" style="font-weight: bolder;">Other Use</label>

                    <input pInputText type="text" id="useId" formControlName="other_use" maxlength=15/>
                    {{15 - recordForm.controls.other_use.value.length}}
                    <div class="ui-message ui-messages-error ui-corner-all"
                        *ngIf="recordForm.controls.other_use.value.length < 3"
                    >
                        Atleast 3 letters required
                    </div>
                    <div class="ui-message ui-messages-error ui-corner-all" 
                        *ngIf="recordForm.controls.other_use.errors && recordForm.controls.other_use.errors.pattern"
                    >
                        Other use foramt is not correct
                    </div>
                </div>
            </div>

        </div>

        <p-footer>
            <div class="ui-dialog-buttonpane ui-helper-clearfix">
                <button type="button" pButton icon="fa-close" (click)="delete(recordForm.value)" label="Delete"></button>
                <button type="submit" pButton icon="fa-check" label="Save" [disabled]="!recordForm.valid" ></button>
            </div>
        </p-footer>

    </form>

</p-dialog>
