<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Expires" content="0">

<app-loading [isLoading]="!dataLoaded" [title]="'table list'"></app-loading>
<app-alert *ngIf="errorArrived" [title]="'Error'" [code]="response.code"></app-alert>

{{tableValues | json}}
<md-card *ngIf="dataLoaded">

	<md-card-header>
		<md-card-title><h2>{{toTitleCase(tableName)}} Table Records</h2></md-card-title>
	</md-card-header>

	<md-card-content>
		<md-input-container>
			<input 
				mdInput 
				id="collectionListSearchId" 
				placeholder="Search Tables" 
				[(ngModel)]="searchPattern"
				(ngModelChange) = "getRecordStructure()"
			/>
		</md-input-container>

		<table>
			<tr
				*ngFor="let tableName of keysOfObject(tableValues);"
			><td><hr />
				{{tableName}}
			</td></tr>
		</table>

		<br />
		<div>
			Total <strong>{{lengthOfVariable(tables)}}</strong>
			{{(lengthOfVariable(tables) <= 1)?'record':'records'}} in list
		</div>

	</md-card-content>

</md-card>
