
<p-dataTable [value]="tableValues" selectionMode="single" [(selection)]="selectedRecord" (onRowSelect)="onRowSelect($event)" [paginator]="true" rows="15" [responsive]="true" *ngIf="dataLoaded">
    <p-header>{{ title }} <br /> {{summary}}</p-header>
    <p-column field="web_domain" header="Web Domain" [sortable]="true"></p-column>
    <p-column field="email_address" header="Email Address" [sortable]="true"></p-column>
    <p-footer>
        <div class="ui-helper-clearfix" style="width:100%">
            <button *ngIf="!selectedRecord" type="button" pButton icon="fa-plus" style="float:left" (click)="showDialogToAdd()" label="Add"></button>
            <button *ngIf="selectedRecord" type="button" pButton icon="fa-plus" style="float:left" (click)="showDialogToAdd()" label="Clone"></button>            
        </div>
    </p-footer>
</p-dataTable>

<div *ngIf="message" class="ui-message ui-corner-all">
    {{message}}
</div>

<div *ngIf="errorMessage" class="ui-message ui-messages-error ui-corner-all">
    Can not save. Please check following: <ul>
        <li *ngFor="let error of keysOfObject(errorMessage)">
            {{error}} : 
            <span *ngIf="isVariableObject(errorMessage[error])">
                <ul>
                    <li  *ngFor="let subError of keysOfObject(errorMessage[error])">
                        {{subError}} : {{errorMessage[error][subError]}}
                    </li>
                </ul>
            </span>
            <span *ngIf="!isVariableObject(errorMessage[error])">
                {{errorMessage[error]}}
            </span>
        </li>
    </ul>
</div>

<p-dialog header="{{title}}" [(visible)]="displayDialog" [responsive]="true" showEffect="fade" [modal]="true">

    <form [formGroup]="recordForm" novalidate (ngSubmit)="save(recordForm.value)">

        <div class="ui-grid ui-grid-responsive ui-fluid">


            <div class="ui-grid-row lns_sub_fields_border">
                <div class="ui-grid-col-12">
                    <label for="web_domain" style="font-weight: bolder;">Web Domain *</label>

                    <input pInputText type="text" id="web_domain" formControlName="web_domain" />

                    <div class="ui-message ui-messages-error ui-corner-all" *ngIf="recordForm.controls.web_domain.errors && recordForm.controls.web_domain.errors.required"
                    >
                        Web domain is required
                    </div>
                </div>
            </div>

            <div class="ui-grid-row lns_sub_fields_border">
                <div class="ui-grid-col-12">
                    <label for="email_address" style="font-weight: bolder;">Email Address *</label>

                    <input pInputText type="text" id="email_address" formControlName="email_address" />

                    <div class="ui-message ui-messages-error ui-corner-all" *ngIf="recordForm.controls.email_address.errors && recordForm.controls.email_address.errors.required"
                    >
                        Email address is required
                    </div>

                    <div class="ui-message ui-messages-error ui-corner-all" *ngIf="recordForm.controls.email_address.errors && recordForm.controls.email_address.errors.email"
                    >
                        <i class="fa fa-close"></i>
                        Email address format is not right
                    </div>
                </div>
            </div>

            <div class="ui-grid-row lns_sub_fields_border">
                <div class="ui-grid-col-12">
                    <label for="passwords" style="font-weight: bolder;">Passwords *</label>

                    <div formArrayName="passwords">
                    
                        <p-panel *ngFor="let password of recordForm.controls.passwords.controls; let i=index; ">

                        <p-header>
                            <div class="ui-helper-clearfix">
                                <span class="ui-panel-title" style="font-size:16px;display:inline-block;margin-top:2px">Password {{i + 1}}</span>
                                
                                <span 
                                    style="float:right"
                                    *ngIf="recordForm.controls.passwords.controls.length > 1"
                                    (click)="removePassword(i)"
                                ><i class="fa fa-close"></i></span>
                            </div>
                        </p-header>
                            
                            <input pInputText id="password" [formControlName]="i"/>

                             <div class="ui-message ui-messages-error ui-corner-all" *ngIf="recordForm.controls.passwords.controls[i].errors && recordForm.controls.passwords.controls[i].errors.required"
                            >
                                Password is required
                            </div>
                        
                             <div class="ui-message ui-messages-error ui-corner-all" *ngIf="recordForm.controls.passwords.controls[i].errors && recordForm.controls.passwords.controls[i].errors.minlength" 
                            >
                                At least 8 charecters are required
                            </div>


                        </p-panel>
                        
                    </div>

                    <button type="button" pButton icon="fa-add" label="Add Password" (click)="addPassword()"></button>

                </div>

            </div>

        </div>

        <p-footer>
            <div class="ui-dialog-buttonpane ui-helper-clearfix">
                <button type="button" pButton icon="fa-close" (click)="delete(recordForm.value)" label="Delete"></button>
                <button type="submit" pButton icon="fa-check" label="Save" [disabled]="!recordForm.valid" ></button>
            </div>
        </p-footer>

    </form>

</p-dialog>
